@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Applications</h1>
    <p>The formost authority for good humour that you will find anywhere on your local host.</p>
    <p> This is on hot reload.</p>
</div>
